<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav>
		<a href="/home/index">Home</a>::
		<a href="/home/about">About Us</a>
		|||
		<a href="/home/admin">Admin</a>::
		<a href="/home/users">Users</a>::
		<a href="/home/authenticated">Authenticated</a>::
		<a href="/home/thymeleaf1">Thymeleaf1</a>::
		<a href="/home/thymeleaf2">Thymeleaf1</a>
		|||
		<a href="/auth/login/form">Login</a>::
		<a href="/auth/logoff">Logout</a>
	</nav>
</body>
</html>