<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav th:replace="~{/home/_menu::nav}"></nav>
	<hr>
	<h2 th:text="$message"></h2>
	<hr>
	<h3 sec:authorize="!isAuthenticated()"> Chua dang nhap!</h3>
	<ul sec:authorize= "isAuthenticated()">
		<li sec:authorize="hasRole('ADMIN')">ADMIN</li>
		<li sec:authorize="hasAnyRole('ADMIN','USER')">ADMIN or USER</li>
		<li sec:authorize="hasRole('GUEST')">GUEST</li>
	</ul>
</body>
</html>