<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<form th:object="${form}" method="post">
		<input th:field="*{email}" placeholder="Email Address?"><br/>
		<input th:field="*{fullname}" placeholder="Full name?"><br/>
		<input th:field="*{marks}" placeholder="Average Marks?"><br/>
		<input th:field="*{gender}" value="true" type="radio">Male
		<input th:field="*{gender}" value="false" type="radio">Female<br/>
		<select>
			<option value="VN">Viet Nam</option>
			<option value="US">United States</option>
		</select>
		<hr/>
		<button th:formaction="@{/student/create}">Create</button>
		<button th:formaction="@{|/student/update/${key}|}">Update</button>
		<button th:formaction="@{|/student/delete/${key}|}">Delete</button>
		<button th:formaction="@{/student/index}">Reset</button>
	</form>
</body>
</html>