<div xmlns:th="https://www.thymeleaf.org/">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <b class="glyphicon glyphicon-briefcase"> Danh Muc</b>
        </div>
        <ul class="list-group">
            <a href="/product/list?cid=1" class="list-group-item">category 1</a>
            <a href="/product/list?cid=2" class="list-group-item">category 2</a>
            <a href="/product/list?cid=3" class="list-group-item">category 3</a>
            <a href="/product/list?cid=4" class="list-group-item">category 4</a>
        </ul>
    </div>
</div>